@charset "utf-8";

/* 1차 PJ : 공통 모듈 CSS - common.css */

/* 공유기능 요소 셋팅 */
/* 메인로고 */
.mlogo img {
  margin-top: 18px;
}

/* Top 메뉴 아이콘 사이즈 */
.top-menu ul > li > a {
  font-size: 2.5rem;
}

/* Top 메뉴 아이콘 오버시 색상 변경 */
.top-menu ul > li > a:hover {
  color: darkgreen;
}

/* 검색 아이콘 클릭시 서치박스 등장 */

.search-box{
  position: absolute;
  margin-top: 7px;
  border: 6px solid darkgreen;
  background-color: darkgreen;
  border-radius: 20px;
  width: 0;
  opacity: 0;
  color: #fff;
  transition: .4s;
  cursor: text;
}

.search-box.on{
  transform: translateX(-300px);  
  width: 235px;
  opacity: 1;
}


/* Top 메뉴 */
.top-menu ul {
  display: flex;
  justify-content: flex-end;
}
/* Top 리스트 */
.top-menu ul li {
  padding: 0 10px;
}
/* Top a링크 */
.top-menu ul a {
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: bold;
}

/* GNB 메뉴 */
.gnb ul {
  display: flex;
  gap: 0 20px;
  justify-content: flex-end;
}

/* GNB a링크 */
.gnb ul a {
  display: block;
  padding: 0 13px;

  font-size: 1.7rem;
  line-height: 60px;
  font-weight: bold;
}
/* GNB a링크 오버시 */
.gnb ul a:hover {
  color: darkgreen;
  font-weight: bold;
}

/************* 1. 상단영역 *************/

/* 가상 요소로 아래쪽 화살표 넣기 */
.gnb ul > li:nth-child(-n + 3) > a span::after {
  content: "∨";
  display: inline-block;
  /* 트랜스폼은 인라인에서는 적용안됨 */
  font-size: 7px;
  margin-left: 2px;
  vertical-align: 2px;
  transform: scaleX(2);
}

/* 서브메뉴 */
.smenu {
  position: absolute;
  z-index: 999999;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  background-color: #fff;
}
.smenu ol {
  display: flex;
}

/*상위메뉴 오버시 서브메뉴 보이기 */
#top-area .gnb > ul > li:hover .smenu {
  max-height: 100%;
  opacity: 70%;
}

/* 상위메뉴 오버시 밑줄애니 */
.gnb > ul > li > a::after {
  content: "";
  display: block;
  margin-left: 100%;
  margin-top: -15px;
  width: 0;
  height: 3px;
  background-color: #ffb300;
}
/* 오버시 밑줄박스 애니 */
.gnb > ul > li:hover > a::after {
  margin-left: 0;
  width: 100%;
  transition: width 0.3s;
}

/************ 2. 메인영역 ************/
#ban-area{
  background: url(../images/ban-area_cheese.jpg) no-repeat center/cover;

}
.ban-area{
  padding: 0;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.itxt-box{
  padding: 0;
  display: block;
}

.itxt-box1{
  margin-top: 1.5vh;
  height: 6vh;
  text-align: left;
  font-family: 'S-CoreDream-3Light';
  font-size: 26px;
}
.itxt-box2{
  margin-top: -2vh;
  height: 25vh;
  text-align: left;
  font-size: 195px;
  font-weight: bold;
  font-family: fantasy;
  font-style: oblique;
  color: darkgreen;
}
.itxt-box3{
  margin-top: 22vh;
  height: 4vh;
  text-align: left;
  font-family: 'S-CoreDream-3Light';
  font-size: 24px;
}
.itxt-box4{
  margin-top: 5vh;
  line-height: 2;
  width: 150px;
  text-align: center;
  font-family: 'SUITE-Regular';
  font-size: 22px;
  font-weight: bold;
  color: darkgreen;
  background-color: yellow;
  border: 2px solid yellow;
  border-radius: 10px;
  cursor: pointer;
}


.itxt-box2:hover{
  color: rgb(255, 115, 0);
}

.itxt-box4:hover{
  color: darkgreen;
  background-color: #ffffff7e;
  border: 2px solid #ffffff7e;
  border-radius: 10px;
}

/************************************************************************************************************************ 
                                                컨텐츠 영역 시작
************************************************************************************************************************/

.header-info{
display: flex;
gap: 0 100px;
justify-content: center;
list-style: none;
font-size: 20px;
cursor: pointer;
}

.content-area img {
  border: none;
}

.content-area ul, ol{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.container>.header-info{
  position: relative;
  width: 100%;
  height: 222px;
}

#container>section {
  /*슬라이드부모*/
  position: relative;
  width: 913px;
  height: 564px;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
}

#slide-box {
  display: flex;
  /* 플렉스박스!!! */

  /*사진을 싸고 있는 슬라이드*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#slide-box li {
  flex-shrink: 0;
  /* 부모박스크기만큼 줄어들지 않음 -> 0 */
  flex-basis: 100%;
  /* 가로크기를 부모박스 크기에 맞춤! */
  /* height 값은 flex박스 자식요소에서
  등분할시 자동 100%임! */
}

#slide-box li img {
  /*이미지는 박스에 맞춤!*/
  width: 100%;
  height: 100%;
}

.abtn img {
  width: 10%;
  height: 10%;
  object-fit: cover;
}
/*이동버튼*/
.abtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*Y축 중앙이동*/
}

/*왼쪽버튼*/
.ab1 {
  left:-1px;
}

/*오른쪽버튼*/
.ab2 {
  right: -435px;
}

/*블릿버튼*/
.indic {
  display: flex;
  /* 플렉스박스 */
  position: absolute;
  bottom: 37px;
  left: 80px;
}

.indic li {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.indic li img {
  position: absolute;
  /*이미지 겹치게*/
}

.indic li img:last-child {
  /*회색이미지만 투명하게*/
  opacity: 0;
}

/*회색블릿이미지가 보이게하는 class*/
.indic li.on img:last-child {
  /*회색이미지만 투명하게*/
  opacity: 1;
  /*우선적용!*/
}




























/************* 3. 하단영역 *************/
