// headline css

/* 움직이는 텍스트 */
.headbox {
  position: relative;
  font-size: 50px;
  //font-family: "Raleway", Sans-serif;
  //font-weight: 300;
  width: 100%;
  max-width: 100%;
  //height: auto;
  padding: 50px 50px;
  //overflow-x: hidden;
  //overflow-y: hidden;
}
.headbox .text-track {
  position: absolute;
  white-space: nowrap;
  //will-change: transform;
  //animation: marquee 6s linear infinite;
}

/* @keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} */

//////// 미디어쿼리
/* @media (hover: hover) and (min-width: 700px) {
  .headbox .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
} */
