// headline css

/* 움직이는 텍스트 */
.headbox {
  position: relative;
  background-color: #d4d4d471;
  border: thick double #000000a3;
  // max-width: 1200px;

  width: 80vw;
  height: 1.2vh;
  padding: 22px 0;
  // top: 8px;
  // margin: 0 auto;
  overflow: hidden;
}
.headbox .text-track {
  position: absolute;
  top: 30%;
  left: 100%;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
}
.content {
  font-size: 1.5rem;
  color: #000;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin: -10px 0;
  text-align: center;
}

@keyframes marquee {
   to {
    left: -200%;
  }
}





//////// 미디어쿼리
/* @media (hover: hover) and (min-width: 700px) {
  .headbox .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
} */
