// 서치 박스 csss

.searchbox {
  position: relative;
  max-width: 1000px;
  width: 5vw;
  //margin: 0 auto;
  right: 50px;
  padding: 20px 0;
  white-space: nowrap;
}

.searchbox .search-track {
  position: absolute;
  top :10%;
  left: 100%;
  white-space: nowrap;
}

.gnb02 {
  //position: absolute;
  width: 7vw;
  height: 2vh;
  right: 10px;
  border: 2px solid red;
  background-color: #eef0f0;
  border-width: 2px;
  border-style: solid;
}
.gnb03 {
  //position: absolute;
  border: 2px solid blue;
  box-sizing: content-box;
  width: 7vw;
  height: 2vh;
  right: 10px;
  border-width: 2px;
  border-style: solid;
}
