// 서치 박스 csss

.searchbox {
  position: relative;
  padding: 0 min(8px, 2vw);
  white-space: nowrap;
}

.searchbox .search-track {
  display: flex;
  gap: 0 10px;
  flex-direction: row;
  justify-content: flex-end;
}

// 입력창 ul
.gnb02 {
  background-color: #efefef;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 5.5px;
  width: 50px;
  height: 50px;
  margin-left: 0px;
  transition: .4s;
  //display: none;

  // 클래스 on줄 경우
  &.on{
    width: 250px;
    margin-left: -110px;

  }
  &.on .searching > input{
    display: block;
  }
}
// 입력창 li
.searching{
  position: relative;
  // 입력창
  input {
    position: absolute;
    top: 10px;
    left: 35px;
    bottom: 5px;
    right: 5px;
    font-family: "PT Serif Caption", serif;
    font-weight: normal;
    font-size: 1.13rem;
    line-height: 1.8;
    background-color: transparent;
    border: none;
    display: none;
  }
}

input:focus {
  outline: none;
}
