// 서치 박스 csss

.searchbox {
  position: relative;
  padding: 0 min(0, 2vw);
  white-space: nowrap;
}

.searchbox .search-track {
  display: flex;
  gap: 0 40px;
  flex-direction: row;
  justify-content: flex-end;
}

// 입력창 ul
.gnb02 {
  padding: 0 0px;
  width: 50px;
  height: 50px;
  margin-left: 0px;
  transition: 0.4s;
  //display: none;

  // 클래스 on줄 경우
  &.on {
    background-color: #efefef;
    border-radius: 18px;
    box-sizing: border-box;
    width: 10vw;
    margin-left: -20px;
  }
  &.on .searching > input {
    display: block;
  }
}




// 입력창 li
.searching {
  position: relative;
  // 입력창
  input {
    position: absolute;
    top: 15px;
    left: 40px;
    bottom: 5px;
    right: 5px;
    font-family: "PT Serif Caption", serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(64, 63, 64);
    line-height: 1;
    background-color: transparent;
    border: none;

  }
}

#sching{
  top: 10px;
  left: 40px;
  bottom: 5px;
  right: 5px;
  font-family: "PT Serif Caption", serif;
  font-weight: bold;
  font-size: 1rem;
  color: hotpink;
  border: none;
  height: 15px;
  width: 210px;
}

input:focus {
  outline: none;
}




/////////////////// 북마크 /////////////////////

/* * 스크롤바 디자인 클래스 */

/* 클래스명 scbar */
.scbar::-webkit-scrollbar {
  /* 전체 스크롤바 크기변경 */
  width: 7px;
}
.scbar::-webkit-scrollbar-thumb {
  /* 스크롤바 */
  background-color: #555;
  border-radius: 5px;
}
.scbar::-webkit-scrollbar-track {
  /* 스크롤바 트랙 */
  background-color: #ddd;
  border-radius: 5px;
}

/* 전체부모박스 */
#marklist {
  position: fixed;
  //top: 0px;
  //right: -60%;
  //width: 60vw;
  //height: 100dvh; /// vh-> dvh : 다이나믹 vh
  // background-color: rgba(255, 255, 255, 0.8);
  //z-index: 99999999;
  & .gnb03 {
    width: 4.5vw;
    height: 1.5vh;
  }
}

#bookmark>h1{
  background-color: rgb(229, 229, 229);
}


#marklist table {
  width: 90%;
  margin: 50px auto;
  font-size: 14px;
  border-top: 2px solid rgb(34, 34, 34);
  border-bottom: 2px solid rgb(34, 34, 34);
  border-collapse: collapse;
}
#marklist caption {
  padding: 20px 0px;
  font-size: 2rem;
  font-family: "Gowun Dodum", sans-serif;
}
#marklist th {
  padding: 14px 30px;
    background-color: rgb(229, 229, 229);
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
}
#marklist td {
  padding: 10px 35px;
  border-top: 1px solid rgb(85, 85, 85);
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
#marklist td img {
  
}

.cntBx {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  //opacity: 0;
}




/* 원본 이미지 크기 */
#marklist img {
  
}
/* 변경 이미지 크기 */
#marklist.on img {
  /* width: 50px;
  transition: 0.4s ease-in 2s; */
}


/* 수량증감 박스 */
.cnt-mpart span,
.cnt-mpart > div {
  display: flex;
}

/* 입력창 */
.item-cnt {
  width: 20px;
}
/* 증감 이미지버튼 */
.btn-cnt>img {
  display: block;
  width: 20px;
}
/* 반영 버튼 */
.btn-insert {
  position: absolute;
  margin-left: 43px;
  white-space: nowrap;
  padding: 0;
  //overflow: hidden;
  //width: 0;
  //transition: 0.1s 0.1s;
  //display: none;
}
/* 취소버튼 */
.btn-cancel {
  position: absolute;
  margin-left: 74px;
  white-space: nowrap;
  padding: 0;
  //overflow: hidden;
  //width: 0;
  //transition: 0.1s 0.1s;
}


















////////////////////////////// 미디어 쿼리 //////////////
@media screen and (max-width: 1560px) {
  .searchbox .search-track {
    display: flex;
    gap: 0 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

  .gnb01 > ul {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    gap: 0 10px;
    box-sizing: border-box;
  }

  .searchbox {
    position: relative;
    padding: 0 min(3px, 2vw);
    white-space: nowrap;
  }
  .gnb02 {
    width: 30px;
    height: 50px;
    &.on{
      width: 260px;
    }
  }

  .searching input {
    position: absolute;
    //top: 10px;
    left: 30px;
    bottom: 5px;
    right: 5px;
    font-family: "PT Serif Caption", serif;
    font-weight: normal;
    font-size: 0.95rem;
    line-height: 1.8;
    background-color: transparent;
    border: none;

  }}

@media screen and (max-width: 1490px) {
  .searchbox .search-track {
    display: flex;
    gap: 0 7px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

  .gnb02 {
    width: 50px;
    height: 40px;
    &.on {
      width: 200px;
    }
  }
  .gnb03 {
    width: 25px;
    height: 30px;
  }
  .searching input {
    left: 30px;
    right: 5px;
    font-family: "PT Serif Caption", serif;
    font-weight: normal;
    font-size: 0.68rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 1300px) {
  .gnb02 {
    width: 40px;
    height: 40px;
    &.on {
      width: 135px;
    }
  }
  ul.gnb03 {
    margin-top: -4px;
  }

  .searchbox .search-track {
    display: flex;
    flex-direction: column;
  }
  .searching input {
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 0.62rem;
  }
  .fa-2xs {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 1245px) {
  .searchbox {
    position: relative;
    padding: 0 min(3px, 2vw);
    white-space: nowrap;
  }
  .searchbox .search-track {
    display: flex;
    flex-direction: column;
    gap: 0 6px;
  }
  .gnb02 {
    width: 35px;
    height: 40px;
    &.on {
      width: 128px;
    }
  }
  .gnb03 {
    width: 30px;
    height: 30px;
  }
  .searching input {
    font-size: 0.59rem;
  }
}
@media screen and (max-width: 1050px) {
  .gnb02 {
    width: 20px;
    height: 32px;
    &.on {
      width: 126px;
    }
  }
  .gnb03 {
    width: 18px;
    height: 30px;
  }

  .fa-2xs {
    font-size: 0.7em;
  }
  .searchbox .search-track {
    display: flex;
    flex-direction: column;
    gap: 0 10px;
  }

  .searching input {
    left: 20px;
    right: 2px;
    font-size: 0.6rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 360px) {

  ul.gnb03 {
    margin-top: 2px;
}











}
