
.about-bx{
  font-size: 2rem;
  text-align: center;
}

.myGridbx {

    margin-left: 5px;
    //margin-right: 20px;
    margin-top: 0;
    //border: 1rem solid red;
  }
  
 
  
  .swiper-slide {
    margin-top: 0;
    // 개별 박스
    &:nth-child(2) {
      .gcom-box {
        margin-top: 100px;
      }
    }
    &:nth-child(4) {
      .gcom-box {
        margin-top: 135px;
      }
    }
    // 개별 박스내 이미지
    &:nth-child(1) {
      .gcom-box img {
        width: 90%;
      }
    }
    &:nth-child(2) {
      .gcom-box img {
        width: 80%;
        margin-top: 25px;
      }
    }
    &:nth-child(3) {
      .gcom-box img {
        width: 87%;
        margin-top: 32px;
      }
    }
    &:nth-child(4) {
      .gcom-box img {
        width: 90%;
        margin-top: 30px;
      }
    }
    &:nth-child(5) {
      .gcom-box img {
        width: 84%;
        margin-top: 20px;
      }
    }
  }
  
  .gcom-box {
    position: relative;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 50px;
    border: 0.13rem ridge #f7e3e3a9;
    > .abcomp-tit1 > img {
      margin: 0 auto;
      border: 0.12rem groove #8d5f5f;
    }
  }
  
  .abcomp-tit1 {
    margin-top: 10px;
  }
  
  .abcomp-tit2 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .abcomp-tit3 {
    padding: 10px;
  }
  
  .abcomp-tit3 > p {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.7;
  }
  
  .abcomp-tit4 {
    margin-top: 2px;
    font-size: 0.75rem;
  }
  .abcomp-tit5 > h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    text-align: center;
    font-weight: Bold;
    cursor: pointer;
    text-decoration: none;
    color: #000;
  }
  
  //스와이퍼 설정 변경
  .myGridbx {
    overflow: visible;
  }
  
  /////////////////////////// 미디어 쿼리 ////////////////////////
  
  @media screen and (max-width: 1650px) {

    .gcom-box {
      margin-top: 10vh;
      margin-left: 23px;
      margin-right: 10px;
    }

  .swiper-slide:nth-child(1) .gcom-box {
    width: 18vw;
  }

  .swiper-slide:nth-child(2) .gcom-box {
    width: 18vw;
  } 

  .swiper-slide:nth-child(3) .gcom-box {
    width: 18vw;
} 
    .swiper-slide:nth-child(4) .gcom-box {
      margin-top: 85px;
      width: 18vw;
  }
    .swiper-slide:nth-child(5) .gcom-box {
      width: 16vw;
  }


  .abcomp-tit1 {
    margin-top: 20px;
}

.swiper-slide:nth-child(1) .gcom-box img {
    width: 80%;
}

.abcomp-tit2 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 0.6rem;
    margin-top: 10px;
    margin-bottom: 2px;
}

.abcomp-tit3 > p {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.55;
}

.abcomp-tit4 {
    margin-top: 2px;
    font-size: 0.5rem;
}

.abcomp-tit5 > h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: "PT Sans", sans-serif;
    font-size: 0.7rem;
    text-align: center;
    font-weight: Bold;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

  }



  @media screen and (max-width: 1490px) {
    .swiper-slide:nth-child(2) .gcom-box {
      //margin-top: -75px;
  }
  }
  
  @media screen and (max-width: 1390px) {
  
    .gcom-box {
      //position: relative;
      //margin-left: 10px;
      //margin-right: 20px;
      //margin-top: -165px;
      //border: 0.13rem ridge rgba(247, 227, 227, 0.662745098);
  }
    .swiper-slide:nth-child(2) .gcom-box {
            //margin-top: 25vh;
        }
  
        .swiper-slide:nth-child(4) .gcom-box {
          //margin-top: -55px;
      }
    }
  
  @media screen and (max-width: 1250px) {
    .gcom-box {
      //margin-top: 30px;
    }
  
    .swiper-slide:nth-child(2) .gcom-box {
      //margin-top: -60px;
  }
  
  }
  
  @media screen and (max-width: 1098px) {
  
    .about-bx {
      font-size: 1.5rem;
      text-align: center;
  }
    .gcom-box {
      margin-top: 10vh;
      margin-left: 1vw;
      margin-right: -4vw;
  }
    .swiper-slide:nth-child(2) .gcom-box {
      //margin-top: 60px;
  }
  }