/* 캐릭터 박스 */
#art-showbx {
  display: grid;
  max-width: 1900px;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: min(3.5vw, 70px) min(2vw, 15px);
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 10px;
}
.art-wbox {
  position: relative;
  & img {
    width: 100%;
    height: 100%;
    padding-left: 1px;
    object-fit: cover;
    object-position: top;
    vertical-align: middle;
  }
}
.art-tit {
  border: none;
  background-color: #fff;
}
.art-tit h3 {
  color: #000;
  font-size: 1.2rem;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 4px;
  &:hover {
    color: darkcyan;
    font-weight: 600;
  }
}


/////////////////////////////// 미디어 쿼리 //////////////////////////
@media screen and (max-width: 1390px) {
  #art-showbx {
    display: grid;
    max-width: 1800px;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: min(3.5vw, 70px) min(2vw, 15px);
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 10px;
  }
  .art-tit h3 {
    font-size: 1rem;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
  }
}
