/* 장바구니 리스트 CSS */

/* 스크롤바 디자인 클래스 */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar {
  /* 전체 스크롤바 크기변경 */
  width: 7px;
}
.scbar::-webkit-scrollbar-thumb {
  /* 스크롤바 */
  background-color: #555;
  border-radius: 5px;
}
.scbar::-webkit-scrollbar-track {
  /* 스크롤바 트랙 */
  background-color: #ddd;
  border-radius: 5px;
}

/* 전체부모박스 */
#mymark {
  position: fixed;
  top: 0px;
  right: -60%;
  width: 60vw;
  height: 100dvh; /// vh-> dvh : 다이나믹 vh
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 99999999;
}

/* 닫기버튼 */
#mymark .cbtn {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 39px;
  background: url(../../../public/img/mv_btns.png) no-repeat;
  background-position: -129px -342px;
  transition: transform 0.3s;
}
#mymark .cbtn span {
  display: none;
}

#mymark table {
  width: 90%;
  margin: 50px auto;
  font-size: 14px;
  border-top: 2px solid rgb(34, 34, 34);
  border-bottom: 2px solid rgb(34, 34, 34);
  border-collapse: collapse;
}
#mymark caption {
  padding: 20px 0px;
  text-decoration: underline wavy;
  font-size: 30px;
}
#mymark th {
  padding: 15px 0px;
  background-color: rgb(229, 229, 229);
  font-size: 16px;
}
#mymark td {
  padding: 10px 0px;
  border-top: 1px solid rgb(85, 85, 85);
  text-align: center;
}
#mymark td img {
  width: 50px;
}

/* 카트버튼 이미지 */
#mymark {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
  cursor: pointer;
  display: none;
}

/* 카트박스 사이드 이동상태 */
#mymark.on {
  position: fixed;
  top: 50%;
  left: calc(100% - 70px);
  transform: translate(0, -50%);
  background-color: lightblue;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  transition: 0.4s ease-in 2s;
}
/* 원본 이미지 크기 */
#mymark img {
  width: 370px;
}
/* 변경 이미지 크기 */
#mymark.on img {
  width: 50px;
  transition: 0.4s ease-in 2s;
}
/* 개수 표시박스 */
#mymark .cntBx {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  opacity: 0;
}
#mymark.on .cntBx {
  opacity: 1;
  transition: 0.4s 3s;
}

/* 수량증감 박스 */
//.cnt-part span,
//.cnt-part > div {
//  display: flex;
//}

/* 입력창 */
.item-cnt {
  width: 20px;
}
/* 증감 이미지버튼 */
#mymark .btn-cnt img {
  display: block;
  width: 18px;
}
/* 반영 버튼 */
.btn-insert {
  position: absolute;
  margin-left: 43px;
  white-space: nowrap;
  padding: 0;
  //overflow: hidden;
  //width: 0;
  //transition: 0.1s 0.1s;
  /* display: none; */
}
/* 취소버튼 */
.btn-cancel {
  position: absolute;
  margin-left: 74px;
  white-space: nowrap;
  padding: 0;
  //overflow: hidden;
  //width: 0;
  //transition: 0.1s 0.1s;
}

/* 입력창에 포커스 갈때 다음형제요소 반영버튼 보이기 */
.item-cnt:focus + .btn-insert {
  /* outline: 10px dotted red; */
  width: 34px;
  transition: none;
  /* display: inline-block; */
}

/* 페이징 파트 */
.paging {
  text-align: center;
  padding: 20px 0;
}
.paging a,
.paging b {
  color: #222;
  text-decoration: none;
  font-size: 20px;
}
