.contact-mbx {
  font-size: 2rem;
  text-align: center;
}
.iframe-map {
  position: relative;
  width: 40vw;
  height: 20vh;
  border: 0;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 10%;
}

.iframe-map iframe {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.compa-info > h1 {
  font-size: 2.2rem;
  margin-left: 20%;
  margin-top: 50px;
}

.compa-info > h2 {
  font-size: 1.3rem;
  margin-top: 35px;
  margin-left: 20%;
  line-height: 2;
  &::after {
    content: "";
    display: block;
    height: 1px;
    margin-top: 20px;
    background-color: #e2e2e2;
  }
}

.compa-info > h3 {
  font-size: 1.5rem;
  margin-left: 20%;
  margin-top: 45px;
  line-height: 2;
}

.compa-info > h4 {
  font-size: 1.4rem;
  float: right;
  margin-right: 10%;
  &::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #e2e2e2;
  }
}
