.exhibiton-mbx {
  font-size: 2rem;
  text-align: center;
}

.Sub-Swiper {
  width: 1800px;
}

.subcont-slide {
  border: none;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

///////////////////////////////

.ExhibiDetail {
  //position: relative;
  width: 1660px;
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: stretch;
}

////////// 왼쪽 영역 //////////////////

.exdesc-box {
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

.ex-mtit {
  //position: absolute;
  float: left;
  width: 25vw;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  & h2 {
    font-size: 2rem;
    font-family: "Gowun Dodum", sans-serif;
    //margin-bottom: 20px;
    line-height: 1.8;
  }
  & h3 {
    font-size: 1.3rem;
    font-family: "Gowun Dodum", sans-serif;
    //margin-bottom: 10px;
    line-height: 1.8;
  }
}

.exdesc-sub {
  margin-top: 30px;
}

.exdesc-sub > h2 {
  font-size: 1.2rem;
  line-height: 1.9;
  font-family: "Gowun Dodum", sans-serif;
  width: 25vw;
  margin-left: 10px;
  text-align: left;
  font-weight: 500;
}

//////////// 오른쪽 영역 //////////////////

.main-exdesc {
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* height: 39vh; */
  align-items: center;
  flex-direction: column;
}
.main-eximg1 {
  //position: absolute;
  //float: right;
  width: 30vw;
  & img {
    display: block;
    text-decoration: none;
    aspect-ratio: 0/1.12;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
  }
}
.sub-title {
  //position: absolute;
  //float: right;
  width: 30vw;
  & h2 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
  }
}
.main-subtit {
  float: right;
  width: 42vw;
  & h3 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
    font-weight: 300;
  }
}
.main-excomp {
  float: right;
  width: calc(100% - 380px - 30px);
  & h3 {
    font-size: 1rem;
    line-height: 1.6;
    text-align: -webkit-auto;
  }
}

///// 하단 박스들
.exhibi-box {
  display: flex;
  margin-left: 3%;
  gap: 0 20px;
  margin-top: 2.5vh;
  flex-direction: row;
  /* width: 20vw; */
  flex-wrap: nowrap;
  /* align-content: center; */
}

.ex-bookmark {
  text-decoration: none;
  font-size: 1.3rem;
  border: none;
  background-color: #fff;
  &:hover {
    color: darkslateblue;
    font-weight: 600;
  }
}

.ex-linkbx {
  font-size: 1.3rem;
  border: none;
  background-color: #fff;
  & a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: darkorange;
      font-weight: 600;
    }
  }
}

.ex-btn {
  font-size: 1.3rem;
  border: none;
  background-color: #fff;
  float: left;
  & a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: darkcyan;
      font-weight: 600;
    }
  }
}

///////////////////////////////////////// 북마크 ///////////////////////









/* 입력창에 포커스 갈때 다음형제요소 반영버튼 보이기 */


/* 페이징 파트 */
.paging {
  text-align: center;
  padding: 20px 0;
}
.paging a,
.paging b {
  color: #222;
  text-decoration: none;
  font-size: 20px;
}




























/////////////////////////////// 미디어 쿼리 ///////////////////
@media screen and (max-width: 1650px) {
  .Sub-Swiper {
    width: 1300px;
  }

  .ExhibiDetail {
    width: auto;
    border: none;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: stretch;
  }
  .ex-mtit h2 {
    font-size: 1.5rem;
    font-family: "Gowun Dodum", sans-serif;
    line-height: 1.8;
  }

  .ex-mtit h3 {
    font-size: 1rem;
    font-family: "Gowun Dodum", sans-serif;
    line-height: 1.6;
  }
  .exdesc-sub > h2 {
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Gowun Dodum", sans-serif;
    width: 25vw;
    margin-left: 10px;
    text-align: left;
    font-weight: 500;
  }
  .sub-title h2 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
  }

  .main-subtit h3 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    font-weight: 300;
  }
  .main-exdesc {
    display: flex;
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
    /* height: 39vh; */
    align-content: flex-end;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .main-subtit {
    float: right;
    width: 30vw;
  }

  .exhibi-box {
    display: flex;
    margin-left: 1%;
    gap: 0 7px;
    margin-top: 0.5vh;
    flex-direction: row;
  }
}

@media screen and (max-width: 1098px) {
  .Sub-Swiper {
    width: 1050px !important;
  }

  .sub-title {
    width: 25vw;
  }
  .main-subtit h3 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 0.85rem;
    line-height: 1.7;
    text-align: left;
    font-weight: 300;
  }
  .main-subtit h3 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: left;
    font-weight: 300;
  }

  .exdesc-sub > h2 {
    font-size: 0.9rem;
    line-height: 1.5;
    font-family: "Gowun Dodum", sans-serif;
    width: 25vw;
    margin-left: 10px;
    text-align: left;
    font-weight: 500;
  }
}
