.exhibiton-mbx {
  font-size: 2rem;
  text-align: center;
}

.Sub-Swiper {
  width: 1800px !important;
}

.subcont-slide {
  border: none;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

///////////////////////////////

.ExhibiDetail {
  //position: relative;
  width: 1660px;
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: stretch;
}

////////// 왼쪽 영역 //////////////////

.exdesc-box {
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

.ex-mtit {
  //position: absolute;
  float: left;
  width: 25vw;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
  & h2 {
    font-size: 2rem;
    font-family: "Gowun Dodum", sans-serif;
    //margin-bottom: 20px;
    line-height: 1.8;
  }
  & h3 {
    font-size: 1.3rem;
    font-family: "Gowun Dodum", sans-serif;
    //margin-bottom: 10px;
    line-height: 1.8;
  }
}

.exdesc-sub {
  margin-top: 30px;
}

.exdesc-sub > h2 {
  font-size: 1.2rem;
  line-height: 1.9;
  font-family: "Gowun Dodum", sans-serif;
  width: 25vw;
  margin-left: 10px;
  text-align: left;
  font-weight: 500;
}

//////////// 오른쪽 영역 //////////////////

.main-exdesc {
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* height: 39vh; */
  align-items: center;
  flex-direction: column;
}
.main-eximg1 {
  //position: absolute;
  //float: right;
  width: 30vw;
  & img {
    display: block;
    text-decoration: none;
    aspect-ratio: 0/1.12;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
  }
}
.sub-title {
  //position: absolute;
  //float: right;
  width: 30vw;
  & h2 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
  }
}
.main-subtit {
  float: right;
  width: 42vw;
  & h3 {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
    font-weight: 300;
  }
}
.main-excomp {
  float: right;
  width: calc(100% - 380px - 30px);
  & h3 {
    font-size: 1rem;
    line-height: 1.6;
    text-align: -webkit-auto;
  }
}

///// 하단 박스들
.exhibi-box {
  display: flex;
  margin-left: 3%;
  gap: 0 20px;
  margin-top: 2.5vh;
  flex-direction: row;
  /* width: 20vw; */
  flex-wrap: nowrap;
  /* align-content: center; */
}

.ex-bookmark {
  text-decoration: none;
  font-size: 1.3rem;
  border: none;
  background-color: #fff;
}

.ex-linkbx {
  font-size: 1.3rem;
  border: none;
  background-color: #fff;
  & a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: darkorange;
      font-weight: 600;
    }
  }
}

.ex-btn {
  font-size: 1.3rem;
  border: none;
  background-color: #fff;
  float: left;
  & a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: darkcyan;
      font-weight: 600;
    }
  }
}
