
.exhibiton-mbx{
  font-size: 2rem;
  text-align: center;
}

.Sub-Swiper {
  width: 1800px !important;
}

.subcont-slide {
  border: none;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

///////////////////////////////

.ExhibiDetail {
  position: relative;
  width: 1700px;
  border: none;
  background-color: #fff;
}

////////// 왼쪽 영역 //////////////////

.exdesc-box {
  position: relative;
  //margin-top: 10px;
  //width: 60vw;
}

.ex-mtit {
  //position: absolute;
  float: left;
  width: 25vw;
  border-bottom: 1px solid #e2e2e2;
  //margin-top: 2.14em;
  & h2 {
    font-size: 1.8rem;
    font-family: "Gowun Dodum", sans-serif;
    //margin-bottom: 20px;
    line-height: 1.8;
  }
  & h3 {
    font-size: 1rem;
    font-family: "Gowun Dodum", sans-serif;
    //margin-bottom: 10px;
    line-height: 1.8;
  }
}

.exdesc-sub {
  //position: absolute;
  //margin-top: 0px;
  //max-width: 40vw;
}

.exdesc-sub > h2 {
  font-size: 1rem;
  line-height: 1.9;
  font-family: "Gowun Dodum", sans-serif;
  width: 25vw;
  margin-left: 10px;
  text-align: left;
}

//////////// 오른쪽 영역 //////////////////

.main-exdesc {
  position: relative;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  /* height: 50vh; */
  top: -20vh;
}
.main-eximg1 {
  //position: absolute;
  float: right;
  width: calc(100% - 413px - 40px);
  & img {
    display: block;
    text-decoration: none;
    aspect-ratio: 0/1.12;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
  }
}
.sub-title {
  //position: absolute;
  float: right;
  width: calc(100% - 460px - 5px);
  & h2 {
    font-size: 1.4rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
  }
}
.main-subtit {
  float: right;
  width: calc(100% - 430px - 33px);
  & h3 {
    font-size: 1rem;
    line-height: 1.6;
    text-align: -webkit-auto;
  }
}
.main-excomp {
  float: right;
  width: calc(100% - 380px - 30px);
  & h3 {
    font-size: 1rem;
    line-height: 1.6;
    text-align: -webkit-auto;
  }
}

///// 하단 박스들
.exhibi-box {
  display: flex;
  margin-left: 3%;
  gap: 0 20px;
  margin-top: 90px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.ex-bookmark {
  text-decoration: none;
  font-size: 1.3rem;
  border: none;
  background-color: #fff;
}

.ex-linkbx {
  font-size: 1.3rem;
  border: none;
  background-color: #fff;
  & a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: darkorange;
      font-weight: 600;
    }
  }
}

.ex-btn {
  font-size: 1.3rem;
  border: none;
  background-color: #fff;
  float: left;
  & a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: darkcyan;
      font-weight: 600;
    }
  }
}
