/* 하단영역 */

.info {
  padding-top: 700px;
  padding-bottom: 200px;
  text-align: center;
}

.gnc-area {
  width: 250px;
  margin: 0 auto 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 3rem;
  font-weight: 550;
}

footer address {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 2rem;
  line-height: 1;
}

/////////////////////////////////////

.footer-box > ul > li {
  position: relative;
  display: inline-block;
  margin: 0 16px;
  vertical-align: top;
  font-size: 1.5rem;
  line-height: 1.8;
}

.etc {
  margin-top: 40px;
  text-align: center;
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

///////////////////////////////////
.contact-box > ul {
  position: relative;
  top: -250px;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.footer-box.show .contact-box > ul {
  top: 0;
  opacity: 1;
}

.c-tit {
  margin-bottom: 64px;
}

.c-tit > h2 {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 2rem;
  line-height: 1;
}

.c-tit > h3 {
  font-size: 5rem;
  line-height: 2;
  margin-bottom: 50px;
}

.c-tit > li > h1 {
  font-size: 6rem;
  line-height: 1.5;
}

.c-tit > .ct-box {
  display: inline-block;
  border: 2px solid #000;
  width: 40vw;
  height: 20vh;
  border-radius: 10px 100px / 120px;
  margin: 0 auto;
  background-color: #fff;
  &:hover {
    border: 2px solid #fff;
    background-color: #000;
    color: #fff;
  }
}

.SNS-BOX > .fa-2xl {
  position: relative;
  display: inline-block;
  top: 45px;
  font-size: 3rem;
  margin-right: 30px;
}

.copyright {
  position: absolute;
  margin: 0 auto;
  left: 43%;
  padding-top: 50px;
}

//////////////////////// 미디어 쿼리

@media screen and (max-width: 1500px) {
  .c-tit > .ct-box {
    height: 15vh;
  }
  .c-tit > li > h1 {
    font-size: 5.5rem;
    line-height: 1.5;
  }
  .c-tit > .SNS-BOX {
    margin-left: 4%;
  }
  .copyright {
    left: 40%;
  }
}

@media screen and (max-width: 1490px) {
  .c-tit > li > h1 {
    font-size: 5rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 1300px) {
  .c-tit > .ct-box {
    height: 12vh;
  }
  .c-tit > li > h1 {
    font-size: 4.5rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 1250px) {
  .c-tit > .ct-box {
    height: 12vh;
  }

  .c-tit > li > h1 {
    font-size: 4rem;
    line-height: 1.4;
  }
  .copyright {
    left: 38%;
  }
}

@media screen and (max-width: 1200px) {
  .c-tit > .ct-box {
    height: 10vh;
  }
  .c-tit > li > h1 {
    font-size: 3.5rem;
    line-height: 1.5;
  }
}
