// 인트로영역 사이드쪽

///////// 공통 ////////
.intro_side {
  position: relative;
  width: 30%;
}

//////////// 사이드 포스터 영역
.side-poster {
  width: 100%;
  aspect-ratio: 1/1.4;
  font-size: 1rem;
  border: 2px solid blue;
  background-image: url("../../../public/img/now_poster.jpg");
  background-position: 0 top;
  background-repeat: no-repeat;
  background-size: contain;
}

//////////////////////////// GNB 메뉴 ///////////////////////
.Gnb-Menu {
  border: 2px solid green;
}
.GNB-CT{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.GNB-BOX{
    // height: 3.5vw;
}

.GNB-BAR{
    font-size: 1.3rem;
    line-height: 3.3vw;
    text-align: left;
    list-style: none;
}