// 인트로영역 사이드쪽

///////// 공통 ////////
.intro_side {
  position: relative;
  flex-grow: 1;
}

//////////// 사이드 포스터 영역
.new-poster {
  aspect-ratio: 1/1.4;
  border: 0.5rem solid #ffff;
  background-image: url("../../../public/img/now_poster.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}


.new-poster>img{
  width: 150%;
}

//////////////////////////// GNB 메뉴 ///////////////////////

.Gnb-Menu {
  line-height: 2vw;
}

.GNB-CT {
  border: 0.111rem solid #00000058;
  font-family: "PT Serif Caption", serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* .GNB-CT > p {
  padding: 8px;
} */

.GNB-BAR {
  font-family: "PT Serif Caption", serif;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 1%;
  text-align: left;
  list-style: none;
}
.GNB-BAR > li {
  padding-left: 30px;
  border: 0.14rem solid #ffffff7e;
  line-height: 1.7vw;
  //text-decoration: 0.5px underline dashed blue;
  &.on::after {
    content: 'New';
    font-size: 9px;
    font-weight: bold;
    float: right;
    color: red;
  }
}

