// 인트로영역 사이드쪽

///////// 공통 ////////
.intro_side {
  position: relative;
  width: 30%;
}

//////////// 사이드 포스터 영역
.side-poster {
  width: 100%;
  aspect-ratio: 1/1.4;
  font-size: 1rem;
  //border: 0.1111rem solid #000000;
  background-image: url("../../../public/img/now_poster.jpg");
  //background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

//////////////////////////// GNB 메뉴 ///////////////////////

.Gnb-Menu {
  line-height: 2vw;
}

.GNB-CT {
  border: 0.111rem solid #00000058;
  font-family: "PT Serif Caption", serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.GNB-CT > p {
  padding: 10px;
}

.GNB-BAR {
  font-family: "PT Serif Caption", serif;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 1%;
  text-align: left;
  list-style: none;
}
.GNB-BAR > li {
  line-height: 5.8vw;
  text-decoration: 0.5px underline dashed blue;
}

