// 메인 CSS

.Intro-box{
    //position: relative;
    font-size: 1.7rem;
    list-style: none;
    border: 0.1rem solid #000000;
    background-color:lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}