// 메인 CSS

.Intro-box{
    //position: relative;
    font-size: 1.7rem;
    list-style: none;
    border: 0.1rem solid #000000;
    //background-color:lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.compa-box{
    max-width: 1850px;
    height: 118vh;
    margin-top: 2.5vh;
    margin-right: 30px;
}

////////////////////////////// 미디어 쿼리 //////////////
/// 
@media screen and (max-width: 1490px) {
    .compa-box {
        margin-top: 4.5vh;
    }
}

@media screen and (max-width: 1050px) {
    .compa-box {
        margin-top: 10vh;
    }
}