/// 공지바 영역

.notice-box {
  position: relative;
  width: 65.5%;
  //top: 0;
  //bottom: 20px;
  list-style: none;
  border: 0.1rem solid #000000;
}

.notice-bar {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  text-align: center;
}


.notice-bar > h1 {
  display: flex;
  margin-left: 10px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
}

.notice-main {
  //position: relative;
  display: flex;
}

.notice-main > h2 {
  width: 5.5vw;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  color: rgb(181, 29, 29);
  font-size: 1.6rem;
  text-align: center;
}

.notice-text {
  display: flex;
  list-style: none;
  align-items: center;
}

.notice-text > p {
  //max-width: 63.3vw;
  font-size: 1.5rem;
  text-align: left;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;
}

///////////////// 인트로 이미지 영역 //////////////////////

.intro-page {
  position: relative;
  top: 40px;
  //aspect-ratio: 1;
}

/* .intro-imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border: 0.111rem solid #ffffff7e;
  //background-image: url("../../../public/img/mainart.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
} */

.intro-imgtbox> h1 {
  position: absolute;
  border: 0.2rem solid lightcoral;
  border-radius: 100%;
  box-sizing: content-box;
  //border-width: 100%;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1.8rem;
  text-shadow: 1px 1px 1px  #000000;
  color: #ffff;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  bottom: 1.5vw;
  z-index: 2;
}
