/// 공지바 영역

.notice-box {
  position: relative;
  width: 70%;
  padding-top: 2.5vw;
  list-style: none;
}

.notice-bar {
  display: flex;
  position: absolute;
  border: 2px solid red;
  width: 100%;
  height: 2.5vw;
  top: 8.7px;
  left: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  text-align: center;
}

.notice-bar > h1 > p {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 1.5rem;
  & ::before {
    position: absolute;
    height: 0.5px;
    left: 0;
    width: 100%;
    background-color: #000;
  }
}

.notice-main {
  position: relative;
  display: flex;
  & ::after {
    position: absolute;
    top: 0;
    height: 100%;
    left: auto;
    right: 0;
    background-color: #000;
  }
}

.notice-main > h2 {
  position: relative;
  width: 5.5vw;
  font-size: 1.5rem;
  line-height: 0.9vw;
  text-align: center;
}

.notice-text {
  display: flex;
  list-style: none;
  align-items: center;
  height: 3.5vh;
}

.notice-text > li > p {
  max-width: 63.3vw;
  width: 28vw;
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
}

///////////////// 인트로 이미지 영역 //////////////////////

.intro-page {
  position: relative;
  padding-top: 65%;
  aspect-ratio: auto;
}

.intro-imgbox {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 87.5%;
  background-image: url("../../../public/img/mainart.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-imgbox > h1 {
  position: absolute;
  border: 2px dotted #ffff;
  box-sizing: content-box;
  border-width: 50%;
  font-size: 1rem;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  bottom: 0.8vw;
  z-index: 2;
}
