.p-work {
  position: relative;
  height: 80vh;
}

///////////////////////////////// 스와이퍼 슬라이드 영역
///
.SwiperArt {
  position: absolute;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  /* Center slide text vertically */
}

.art-tit1 {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  & img {
    width: 100%;
    box-sizing: border-box;
  }
}

///////////////////////////////////////////// 리스트 영역

.past-cont {
  //border-right: 1px solid red;
  max-height: 940px;
  padding-bottom: 195px;
  //overflow: hidden;
}

.art-box {
  display: block;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 10px;
  margin-bottom: 1.04vw;
}

// 아트박스 상단 메인박스 ////
.art-main {
  // 내부 3개의  박스 옆으로 흐르게
  display: flex;
  height: 40vw;

  // 첫번째 배너 영역
  .banner-area {
    position: relative;
    width: 50%;
  }
  // 두번째 리스트 영역
  .list-area {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;

    & > div {
      // position: absolute;
      width: 100%;
      display: none;
    }
    & > div.on {
      display: block;
    }
    & > div > h3 {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 20px;
    }
    & > div > ul > .date {
      font-family: "Gowun Dodum", sans-serif;
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
    & > div > ul > .hall {
      font-family: "Gowun Dodum", sans-serif;
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 50px;
    }
    & > div > ul > li > button {
      font-family: "Gowun Dodum", sans-serif;
      font-size: 1.3rem;
      font-weight: bold;
      width: 100%;
      margin-top: 30px;
      border: 1px solid #eee;
      cursor: pointer;
    }
    & > div > ul > .copy {
      font-size: 1.3rem;
    }
    & > div > ul > .sub-text {
      margin-top: 20px;
      font-family: "Gowun Dodum", sans-serif;
      font-size: 1.4rem;
      line-height: 1.6;
      text-align: left;
    }
  }
  // 세번째 오른쪽 포스터
  .right-poster {
    width: 25%;
    //outline: 1px dashed hotpink;
    img {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: contain;

      &.on {
        display: block;
      }
    }
  }
} ///// 아트박스 상단메인 ////

.underline-area {
  position: relative;
  ul {
    display: flex;

    // 내부박스
    li {
      position: relative;
      flex: 0.0359;
      transition: 0.5s;
      color: #333;
      height: 100px;
      top: 65px;
      border-top: 1px solid #e5e5e5;
      border-right: 1px solid transparent;
      left: 40px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -3px;
        right: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ccc;
      }

      // 하단 제목
      h2 {
        position: absolute;
        top: 100%;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        display: none;
        font-size: 1.5rem;
        text-align: center;
        font-weight: normal;
        font-family: "Gowun Dodum", sans-serif;
      }
      &.on {
        border-right-color: brown;
      }
      &.on h2 {
        display: block;
      }
    }
  }
}

/////////////////////////////////////// 미디어 쿼리
@media screen and (max-width: 1560px) {

  .headbox {
      width: 78vw;
  }
  
  .gnb01 > ul {
      display: flex;
      width: 100%;
      align-items: center;
      list-style: none;
      gap: 0 10px;
      box-sizing: border-box;
  }
  
  .searchbox {
    position: relative;
    padding: 0 min(3px, 2vw);
    white-space: nowrap;
}
  .gnb02 {
      padding: 0 0px;
      width: 30px;
      height: 50px;
      margin-left: 0px;
      transition: 0.4s;
    }
    .gnb02.on {
     background-color: #efefef;
     border-radius: 25px;
     box-sizing: border-box;
     width: 170px;
 }
  .searching input {
      position: absolute;
      top: 10px;
      left: 23px;
      bottom: 5px;
      right: 5px;
      font-family: "PT Serif Caption", serif;
      font-weight: normal;
      font-size: 0.95rem;
      line-height: 1.8;
      background-color: transparent;
      border: none;
      display: none;
  }
  .art-main .banner-area {
      position: relative;
      width: 45%;
  }
  .art-main .list-area {
      width: 35%;
      padding: 20px;
      box-sizing: border-box;
  }
  .underline-area ul li h2 {
  font-size: 1.15rem;
  font-weight: bold;
  }
  
  .c-tit > .ct-box {
      display: inline-block;
      border: 2px solid #000;
      width: 40vw;
      height: 15vh;
      border-radius: 10px 100px / 120px;
      margin: 0 auto;
      background-color: #fff;
  }
  .c-tit > li > h1 {
      font-size: 5.5rem;
      line-height: 1.5;
  }
  }


@media screen and (max-width: 1500px) {
  .art-main .banner-area {
    width: 45%;
  }
  .art-main .right-poster {
    width: 30%;
    margin-left: 40px;
  }

  .art-main .list-area > div > h3 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 12px;
  }

  .art-main .list-area > div > ul > .date {
    font-size: 1rem;
    margin-bottom: 12px;
  }

  .art-main .list-area > div > ul > .hall {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .art-main .list-area > div > ul > .sub-text {
    font-size: 1.15rem;
    line-height: 1.5;
    margin-top: 18px;
  }
}

@media screen and (max-width: 1490px) {
  .art-box {
    padding-top: 2px;
  }

  .art-main {
    gap: 0 13px;
  }
  .art-main .list-area > div > ul > .hall {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .art-main .list-area {
    width: 30%;
    padding: 15px;
    box-sizing: border-box;
    padding-top: 1px;
  }

  .art-main .list-area > div > ul > li > button {
    margin-top: 20px;
  }

  .art-main .right-poster {
    width: 35%;
    margin-left: 20px;
  }
  .underline-area ul li {
    margin-top: 5.5vh;
  }
}

@media screen and (max-width: 1250px) {
  .art-main .list-area > div > ul > .date {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }

  .art-main .list-area > div > h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 12px;
  }

  .art-main .list-area > div > ul > .hall {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .art-main .list-area > div > ul > .sub-text {
    font-size: 1rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1050px) {
  .past-work{
    position: relative;
    top: 15vh;
}
   
  .art-box {
    margin-top: -20px;
}
  .art-main .list-area > div > h3 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 800;
  }

  .art-main .list-area > div > ul > .date {
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.art-main .list-area > div > ul > .hall {
  font-size: 0.9rem;
  margin-bottom: 4px;
}

  .art-main .right-poster {
    width: 30%;
    margin-left: 1px;
}
.art-main .list-area > div > ul > .sub-text {
  font-size: 1.15rem;
  line-height: 1.1;
  margin-top: 12px;
}
.art-main .list-area > div > ul > li > button {
  margin-top: 13.5px;
}

.art-main .right-poster img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.underline-area {
  margin: 0 auto;
}

.underline-area ul {
  margin-top: 5.5vh;
}

/* .underline-area ul li>h2 :last-child {
  text-align: right;
} */

}
