.p-work {
  position: relative;
  height: 80vh;
}

///////////////////////////////// 스와이퍼 슬라이드 영역
///
.SwiperArt {
  position: absolute;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
  /* Center slide text vertically */
}

.art-tit1 {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  & img {
    width: 100%;
    box-sizing: border-box;
  }
}

///////////////////////////////////////////// 리스트 영역


.past-cont {
  //border-right: 1px solid red;
  max-height: 940px;
  padding-bottom: 195px;
  //overflow: hidden;
}

.art-box {
  display: block;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 10px;
  margin-bottom: 1.04vw;
}

// 아트박스 상단 메인박스 ////
.art-main{
  // 내부 3개의  박스 옆으로 흐르게
  display: flex;
  height: 40vw;

  // 첫번째 배너 영역
  .banner-area{
    position: relative;
    width: 50%;
  
  }
  // 두번째 리스트 영역
  .list-area {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;

    &>div{
      // position: absolute;
      width: 100%;
      display: none;
      
    }
    &>div.on{
      display: block;
    }
    &>div>h3{
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 20px;
    }
    &>div>ul>.date{
      font-family: "Gowun Dodum", sans-serif;
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
    &>div>ul>.hall{
      font-family: "Gowun Dodum", sans-serif;
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 50px;
    }
    &>div>ul>li>button {
      font-family: "Gowun Dodum", sans-serif;
      font-size: 1.3rem;
      font-weight: bold;
      width: 100%;
      margin-top: 30px;
      border: 1px solid #eee;
      cursor: pointer;
    }
    &>div>ul>.copy{
      font-size: 1.3rem;
    }
    &>div>ul>.sub-text{
      margin-top: 20px;
      font-family: "Gowun Dodum", sans-serif;
      font-size: 1.4rem;
      line-height: 1.6;
      text-align: left;
    }

  }
  // 세번째 오른쪽 포스터
  .right-poster{
    width: 25%;
    //outline: 1px dashed hotpink;
    img{
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.on{
        display: block;
      }
    }
  }
} ///// 아트박스 상단메인 ////

.underline-area {
  position: relative;
  ul {
    display: flex;

    // 내부박스
    li {
      position: relative;
      flex: 1;
      transition: 0.5s;
      color: #333;
      height: 100px;
      margin-top: 20px;
      border-top: 1px solid #e5e5e5;
      border-right: 1px solid transparent;

      &::after{
        content: '';
        display: block;
        position: absolute;
        top: -3px;
        right: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #ccc;
      }

      // 하단 제목
      h2 {
        position: absolute;
        top: 100%;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        display: none;
        font-size: 0.8rem;
        text-align: center;
        font-weight: normal;
      }
      &.on {
        border-right-color: brown;
      }
      &.on h2{
        display: block;
      }
    }
  }
}

/////////////////////////////////////// 미디어 쿼리

@media screen and (max-width: 1500px) {

  .art-main .banner-area {
    width: 45%;
}
.art-main .right-poster {
  width: 30%;
  margin-left: 40px;
}

  .art-main .list-area > div > h3 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 12px;
}

.art-main .list-area > div > ul > .date {
  font-size: 1rem;
  margin-bottom: 12px;
}

.art-main .list-area > div > ul > .hall {
  font-size: 1rem;
  margin-bottom: 20px;
}

  .art-main .list-area > div > ul > .sub-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 18px;
}

}


@media screen and (max-width: 1250px) {


  .art-main .list-area > div > ul > .date {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

  .art-main .list-area > div > h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 12px;
}

.art-main .list-area > div > ul > .hall {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

  .art-main .list-area > div > ul > .sub-text {
    font-size: 1rem;
    line-height: 1.2;

}
}