
.top-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 9999;
    background-color: #fff;
    font-family: "Ubuntu Condensed", sans-serif;
  }
.logo-part{
  position: absolute;
}
.hline-part{
  position: absolute;
}



/* 로그인 환영메시지 박스 */

  
