
.top-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    //height: 58px;
    z-index: 9999;
    background-color: #fff;
    text-decoration: none;
  }

.gnb01 {
  // max-width: 1320px;
  //min-width: 800px;

}
.gnb01>ul {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  gap: 0 20px;
  box-sizing: border-box;
}
.gnb01 > ul > li {
  box-sizing: border-box;
  padding: 10px;

  &:nth-child(1) {
    width: 5%;
    img{
      width: min(70px,max(4vw,40px));
    }
  }
  &:nth-child(2) {
    width: 80%;
  }
  &:nth-child(3) {
    width: 15%;
    font-size: min(30px,2vw);
  }
  
}



  
