.top-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //height: 58px;
  z-index: 9999;
  background-color: #fff;
  text-decoration: none;
}

.gnb01 {
  // max-width: 1320px;
  //min-width: 800px;
}
.gnb01 > ul {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  gap: 0 9px;
  box-sizing: border-box;
}
.gnb01 > ul > li {
  box-sizing: border-box;
  padding: 10px;

  &:nth-child(1) {
    width: 5%;
    img {
      width: min(70px, max(4vw, 40px));
    }
  }
  &:nth-child(2) {
    width: 80%;
  }
  &:nth-child(3) {
    width: 15%;
    font-size: min(30px, 2vw);
  }
}

/* 로그인 환영메시지 박스 */
/* .logmsg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
} */

// 로그인, 로그아웃 CSS

.log-bxtit {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: nowrap;
  font-size: 1rem;
  font-family: "Black Han Sans", sans-serif;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  margin-bottom: 10px;
}

/* 회원가입 */

.join-tit{
  border-radius: 25px;
  padding: 4px 18px;
  background-color: #fff;
  color: #000;
  font-weight: 100;
  cursor: pointer;
  border: 1px solid #000;
}

.join-tit a{
  text-decoration: none;
  color: #000;
  
}

.join-tit a:hover {
  color: #007aff;
  font-weight: bold;
}

/* 로그인 */

.login-tit{
  border-radius: 25px;
  padding: 4px 18px;
  background-color: #fff;
  color: #000;
  font-weight: 100;
  cursor: pointer;
  border: 1px solid #000;
  margin-right : 15px;
}

.login-tit a{
  text-decoration: none;
  color: #000;
}


.login-tit a:hover {
  color: #007aff;
  font-weight: bold;
}

/* 로그아웃 */
.out-bxtit{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 15px;
  flex-wrap: nowrap;
  font-size: 1rem;
  font-family: "Black Han Sans", sans-serif;
  text-decoration: none;
  color: #000;
  transition: 0.3s;
  margin-bottom: 10px;
  margin-right : 15px;
}

.logout-tit{
  border-radius: 25px;
  padding: 4px 18px;
  background-color: #fff;
  color: #000;
  font-weight: 100;
  cursor: pointer;
  border: 1px solid #000;
}

.logout-tit a {
  font-size: 1rem;
  font-family: "Black Han Sans", sans-serif;
  text-decoration: none;
  color: #000;
  list-style: none;
  transition: 0.3s;
}

.logout-tit a:hover {
  color: #007aff;
  font-weight: bold;
}


////////////////////// 미디어 쿼리
/// 
@media screen and (max-width: 1050px) {
  .gnb01 > ul {
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    gap: 0 8px;
    box-sizing: border-box;
  }
}


@media screen and (max-width: 360px) {


  .gnb01 > ul > li:nth-child(1) {
    width: 10%;
}

.gnb01 > ul {
  display: flex;
        width: 100%;
        align-items: center;
        list-style: none;
        gap: 0 8px;
        box-sizing: border-box;
        flex-direction: row;

}

.out-bxtit {
  margin-top: -20px;
}
.logout-tit{
  padding: 2px 10px;
}

.logout-tit a {
  font-size: 0.85em
};


.join-tit{
  margin-top: -20px;
  padding: 2px 10px;
}
.join-tit a{
  font-size: 0.85em
}
.login-tit{
  padding: 2px 10px;
}
.login-tit a{
  font-size: 0.85em
}













}