
@import url(./reset.css);
@import url(./common.css);
@import url(./grid_12_flex.css);

/* 폰트 연결 */
/* 1.Dancing Script : 디즈니 스러운 손글씨 */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
/* 2.Lugrasimo */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lugrasimo&display=swap');
/* 3. Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lugrasimo&family=Pacifico&display=swap');
/* 4. Lobster  */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Lugrasimo&family=Pacifico&display=swap');


/************************************************* 공통부분 CSS 코딩 구역 *************************************************/

  /* 공사중 표시 */
/* * body * {
    outline: 2px dashed #ccc;
} */



/************************************************* 상단 영역 CSS 코딩 구역 *************************************************/


/************************************************* 메인 영역 CSS 코딩 구역 *************************************************/

#main-area {
   position: relative;
   top: 70px;
}

/* 인트로영역 이미지 */
.intro-area {
    height: 500px;
    padding: 80px;
    padding-bottom: 60px;
    background: url(../IMG/sub01_main.jpg) no-repeat center/cover;
  }

.main-title{
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
    padding-top: 300px;
}


/* 트레일러 영역 */

.trmovie-box, .design-box {
position: relative;    
padding-top: 30px;
margin-left: 40px;
}


.trmovie, .demovie {
    top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 30px;
}

.trintro h3, .deintro h3 {
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: "Lugrasimo", cursive;
    /* text-decoration: underline; */
    font-size: 60px;
    font-weight: 400;
}

.trmovie h4, .demovie h4 {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 25px;
    text-align: justify;
    line-height: 1.5;
}

.trmovie>iframe, .demovie>iframe {
    width: 30vw;
    height: 40vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* 캐릭터 박스 */
.cha-box{
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: min(1.5vw, 15px) min(1vw, 10px);
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 50px;
}
.cha-box>div{
    position: relative;
    aspect-ratio: 1/1;
}
.cha-box>div p{
    position: absolute;
    top: 20px;
    left: 1px;
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 1.5;
    box-sizing: border-box;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
    text-justify :auto;
    padding: 20px;
    opacity: 0;
    transition: .3s;
}

.cha-box>div:hover p{
    opacity: 1;
}

.cha-box>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    vertical-align: middle;
  }

  .cha-box h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
  }

/* 컨셉 이미지 파트 */
#container>.de-chpart {
    /*슬라이드부모*/
    position: relative;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #CCC;
    box-sizing: border-box;

}
#container>h2{
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: "Lobster", sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}

#slide {
    display: flex;
    position: absolute;
    top: 10px;
    left: 0;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#slide li {
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 900px;
}

#slide li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

/*이동버튼*/
.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #555555;
    /*Y축 중앙이동*/
}

/*왼쪽버튼*/
.ab1 {
    left: 50px;
}

/*오른쪽버튼*/
.ab2 {
    right: 50px;
}

/*블릿버튼*/
.indic {
    display: flex;
    /* 플렉스박스 */
    position: absolute;
    bottom: 50px;
    left: 80px;
}

.indic li {
    width: 16px;
    height: 16px;
    
}

.indic li img {
    position: absolute;
}

.indic li img:last-child {
    /*회색이미지만 투명하게*/
    opacity: 0;
}

.indic li.on img:last-child {
    /*회색이미지만 투명하게*/
    opacity: 1;
    /*우선적용!*/
}

.grid {
    display: grid;
    /* 박스 중앙 최대 크기 지정 */
    max-width: 1200px;
    padding-top: 20px;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: min(1.5vw, 15px) min(1vw, 10px);
}

  .grid > div {
    position: relative;
    aspect-ratio: 1/1;
  }

  .grid img {
    width: 100%;
    height: 100%;
    object-position: top;
    vertical-align: middle;
  }
.first{
    grid-column: 1/3;
    grid-row: 1/3;
  }
.first::after{
    content: "[Andy's House]"
    " Andy’s room was a world of its own, home to most of Toy Story’s characters and a place that immediately conveyed comfort and safety. That sense of safety provided the conflict as the characters faced new anxieties like leaving the house and welcoming a new toy.";
    position: absolute;
    top: 20px;
    left: 1px;
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 1.5;
    box-sizing: border-box;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
    text-justify :auto;
    font-size: 25px;
    padding: 20px;
    opacity: 0;
    transition: .2s;
  }
  .first:hover::after{
    opacity: 1;
  }

.second {
    grid-column: 1/3;
    grid-row: 3/5;
}

.second::after{
    content: "[Sid's House]"
    " Movie villains are often more fun than the straight guy, and many on the Pixar team found they related to the mutant impulses of Sid, the bad boy next door. “I think Sid is normal,” says Andrew Stanton. “I think Andy is the weird one, this boy who takes care of his toys.” Coming up with disturbing new creations to populate Sid’s room became one of the most popular tasks in Toy Story.";
    position: absolute;
    top: 20px;
    left: 1px;
    width: 100%;
    height: 100%;
    color: #000;
    line-height: 1.5;
    box-sizing: border-box;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
    text-justify :auto;
    font-size: 23px;
    padding: 20px;
    opacity: 0;
    transition: .2s;
  }
  .second:hover::after{
    opacity: 1;
  }


.third::after{
    content: "Dinoco Station";
    position: absolute;
    margin: 0 auto;
    left: 1px;
    width: 100%;
    height: 100%;
    color: #000;
    box-sizing: border-box;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
    text-align: center;
    font-size: 25px;
    padding : 100px 0;
    opacity: 0;
    transition: .2s;
  }
  .third:hover::after{
    opacity: 1;
  }

  .fourth::after{
    content: "Pizza Planet";
    position: absolute;
    margin: 0 auto;
    left: 1px;
    width: 100%;
    height: 100%;
    color: #000;
    box-sizing: border-box;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
    text-align: center;
    font-size: 25px;
    padding : 100px 0;
    opacity: 0;
    transition: .2s;
  }

  .fourth:hover::after{
    opacity: 1;
  }



.de-bgpart>h2{
font-family: "Lobster", sans-serif;
font-size: 60px;
text-align: center;
padding-top: 35px;
padding-bottom: 10px;
}


#footer-area{
    position: relative;
}


.footer-bx{
    margin-top: 80px;
    bottom: 10px;
    text-align: center;
}

.sns-box ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;
    justify-content: center
}
.sns-box a{
    margin: 0 auto;
    font-size: 25px;
    line-height: 2.5;
    white-space: nowrap;
}

.fcont-part{
    font-size: 15px;
    line-height: 1.5;
    white-space: nowrap;
}

.corp-part{
    font-family: "Lugrasimo", cursive;
    font-style: normal;
    font-size: 20px;
    line-height: 2.8;
    text-align: center;
}

