/******** 웹폰트 **********/


/* PT Sans체 */
@font-face {
    font-family: "PT Sans", sans-serif;
    src: url(../../static/fonts/PTSans-Regular.ttf) format("ttf");
    src: url(../../static/fonts/PTSans-Bold.ttf) format("ttf");
    src: url(../../static/fonts/PTSans-BoldItalic.ttf) format("ttf");
    src: url(../../static/fonts/PTSans-Italic.ttf) format("ttf");
  }


  /* Gowun Dodum체 */
  @font-face {
    font-family: "Gowun Dodum", sans-serif;
    src: url(../../static/fonts/GowunDodum-Regular.ttf) format("ttf");
  }

  /* PT Serif Caption체 */
  @font-face {
    font-family: "PT Serif Caption", serif;
    src: url(../../static/fonts/PTSerifCaption-Regular.ttf) format("ttf");
    src: url(../../static/fonts/PTSerifCaption-Italic.ttf) format("ttf");
  }


  /* Black Han Sans체 */
  @font-face {
    font-family: "Black Han Sans", sans-serif;
    src: url(../../static/fonts/BlackHanSans-Regular.ttf) format("ttf");
  }

  /* Noto Sans Korean체 */
  @font-face {
    font-family: "Noto Sans KR", sans-serif;
    src: url(../../static/fonts/NotoSansKR-VariableFont_wght.ttf) format("ttf");
    src: url(../../static/fonts/NotoSansKR-Thin.ttf) format("ttf");
    src: url(../../static/fonts/NotoSansKR-SemiBold.ttf) format("ttf");
    src: url(../../static/fonts/NotoSansKR-Regular.ttf) format("ttf");
    src: url(../../static/fonts/NotoSansKR-Medium.ttf) format("ttf");
    src: url(../../static/fonts/NotoSansKR-Light.ttf) format("ttf");
    src: url(../../static/fonts/NotoSansKR-ExtraLight.ttf) format("ttf");
    src: url(../../static/fonts/NotoSansKR-ExtraBold.ttf) format("ttf");
    src: url(../../static/fonts/NotoSansKR-Bold.ttf) format("ttf");
    src: url(../../static/fonts/NotoSansKR-Black.ttf) format("ttf");
  }